/* UTILITIES */
* {
  font-family: "Open Sans", sans-serif;
}

:root {
  --logo: #45cda7;
  --light-gray: #eaefef;
  --gray: #bfc9d1;
  --black: #25343f;
  --orange: #ff9b51;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.bg-logo,
.btn-logo {
  background-color: var(--logo);
}

/* GENERAL STYLING */

/************ index.html ************/

/* HEADER */

/* top-bar */
.top-bar button i {
  color: var(--logo);
}

/* brand */
.top-bar .brand img {
  width: 2rem;
  height: auto;
}

.top-bar .brand a:last-child {
  color: var(--logo);
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 600;
  margin-left: 0.5rem;
}

/* profile */
.top-bar .profile button {
  padding: 0.5rem;
  max-width: 6rem;
}

.top-bar .profile span {
  color: var(--black);
}

/* search */
.top-bar .search button i {
  color: #fff;
}

.top-bar .search button:hover i {
  color: var(--black);
}

/* MAIN */

/* menu */

/* scrol-menu */
.menu #scroll-menu {
  height: 250px;
}

/* carousel-menu */
.menu #carousel-menu .carousel-inner,
.menu #carousel-menu .carousel-item {
  height: 250px;
}

.menu #carousel-menu .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .carousel-indicators button {
  background-color: var(--orange);
}

.menu .carousel-caption {
  bottom: -0.1rem;
}

/* product-cards */
.product-cards .liked-button,
.product-cards .unliked-button {
  padding: 0.3rem;
  border: 1px solid;
}

.product-cards .liked-button i {
  color: var(--orange);
}

.product-cards .unliked-button i {
  color: var(--gray);
}

.product-cards .title {
  display: block;
  color: var(--black);
  opacity: 0.9;
}

.product-cards .img-wrap {
  position: relative;
  height: 15rem;
}

.product-cards .img-wrap img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.product-cards .img-wrap span {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.6rem;
}

/* RESPONSİVE DESIGN */

/* HEADER */
@media (max-width: 576px) {
  .top-bar .brand-text,
  .top-bar .profile span {
    display: none;
  }
}
