/* UTILITIES */
* {
  font-family: "Open Sans", sans-serif;
}

:root {
  --logo: #45cda7;
  --light-gray: #eaefef;
  --gray: #bfc9d1;
  --black: #25343f;
  --orange: #ff9b51;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--black);
}

.bg-logo,
.btn-logo {
  background-color: var(--logo);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* COMMON CSS */

/* HEADER */

/* top-bar */
.top-bar a i {
  color: var(--logo);
}

/* brand */
.top-bar .brand img {
  width: 2rem;
  height: auto;
}

.top-bar .brand a:last-child {
  color: var(--logo);
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 600;
  margin-left: 0.5rem;
}

/* profile */
.top-bar .profile button {
  padding: 0.5rem;
  max-width: 6rem;
}

.top-bar .profile span {
  color: var(--black);
}

/* search */
.top-bar .search button i {
  color: #fff;
}

.top-bar .search button:hover i {
  color: var(--black);
}

/* MAIN */
.title {
  display: block;
  color: var(--black);
  opacity: 0.9;
}

.img-wrap {
  position: relative;
  height: 15rem;
}

.img-wrap img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.img-wrap span {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.6rem;
}

.liked-button i {
  color: var(--orange);
}

.unliked-button i {
  color: var(--gray);
}

/* FOOTER */
footer .social {
  padding: 0.3rem;
  border: 1px solid gray;
  border-radius: 0.4rem;
  background-color: #fff;
  color: var(--logo);
}

/* PAGES */

/************ index.html ************/

/* MAIN */

/* menu */

/* scrol-menu */
.menu #scroll-menu {
  height: 250px;
}

/* carousel-menu */
.menu #carousel-menu .carousel-inner,
.menu #carousel-menu .carousel-item {
  height: 250px;
}

.menu #carousel-menu .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .carousel-indicators button {
  background-color: var(--orange);
}

.menu .carousel-caption {
  bottom: -0.1rem;
}

/* product-cards */
.product-cards .liked-button,
.product-cards .unliked-button {
  padding: 0.3rem;
  border: 1px solid;
}

/* RESPONSİVE DESIGN */

/* HEADER */
@media (max-width: 576px) {
  .top-bar .brand-text,
  .top-bar .profile span {
    display: none;
  }
}

/************* detail.html *************/

/* MAIN */

/* gallery */
.gallery .product-img-wrap {
  width: 100%;
  height: 23rem;
  text-align: center;
  margin-bottom: 1rem;
}

.gallery .product-img-wrap img {
  max-width: 100%;
  width: auto;
  height: 100%;
}

.gallery .thumbnails-wrap a {
  width: 4rem;
  height: 4rem;
  text-align: center;
  background-color: #fff;
  cursor: zoom-in;
}

.gallery .thumbnails-wrap a img {
  width: auto;
  height: 100%;
}

.gallery .price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black);
}

.gallery .details h4 {
  color: var(--black);
}

.gallery .properties .property {
  color: var(--black);
  font-weight: 700;
}

/********** shopping-cart.html ***********/

.shopping-cart .basket-items-wrap .cargo {
  background-color: blanchedalmond;
  color: var(--black);
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.shopping-cart .basket-img-wrap {
  height: 6rem;
  width: 100%;
  text-align: center;
}
.shopping-cart .basket-img-wrap img {
  height: 100%;
  width: auto;
  object-fit: cover;
  max-width: 100%;
}

.shopping-cart .order-summary {
  color: var(--black);
}

.shopping-cart .cargo,
.shopping-cart .order-summary span {
  color: var(--black);
  font-weight: 600;
}
.shopping-cart .order-summary h5 {
  font-weight: 600;
}
.shopping-cart .order-summary span {
  width: 7rem;
}
